<%provide(:title, "Help")%>
<article>
  <div class="inner help-inner">
    <section class="left-question-list">
      <ul>
        <li>
          <p>購入＆シェア</p>
          <a href="#">購入＆シェア方法について</a><br>
          <a href="#">ショッピングカートについて</a>
        </li>
        <li>
          <p>出品＆注文履歴</p>
          <a href="#">出品＆注文履歴について</a>
        </li>
        <li>
          <p>購入＆シェアのキャンセル</p>
          <a href="#">購入＆シェアのキャンセル方法について</a><br>
          <a href="#">現在シェア中商品のシェア中止方法について</a>
        </li>
        <li>
          <p>商品お届け</p>
          <a href="#">商品お届けについて</a>
        </li>
      </ul>
    </section>
    <section class="right-question-list">
      <h1>よくある質問</h1>
      <ul>
        <li>
          <p class="question"><span class="fas fa-question question-icon"></span>いつ届きますか</p>
          <p class="answer">商品やご注文時期によって異なります。詳細は、お届けまでにかかる日数をご確認ください。
            翌日までのお届けをご希望の場合は、有料サービス即日配送をご利用ください。</p>
        </li>
        <li>
          <p class="question"><span class="fas fa-question question-icon"></span>注文ができているか確認したい</p>
          <p class="answer">
            ログインして注文されたお客様は、注文履歴よりご確認いただけます。注文履歴に表示がない場合は、ご注文が完了しておりません。
            メールが届いていない場合は、お調べいたしますのでカスタマーサポートまでお問い合わせください。
          </p>
        </li>
        <li>
          <p class="question"><span class="fas fa-question question-icon"></span>間違って注文してしまったのでキャンセルしたい</p>
          <p class="answer">ログインして注文されたお客様は、注文履歴「注文詳細・各種手続き」よりキャンセル手続きが可能です。</p>
        </li>
        <li>
          <p class="question"><span class="fas fa-question question-icon"></span>不良品が届いたので返品したい</p>
          <p class="answer">、注文履歴「注文詳細・各種手続き」より「返品手続き」ボタンへ進み、返品理由をご選択ください。返品方法をご案内いたします。</p>
        </li>
        <li>
          <p class="question"><span class="fas fa-question question-icon"></span>配送先を変更したい</p>
          <p class="answer">注文履歴「注文詳細・各種手続き」より、「変更」ボタンへ進み、配送先の変更をお願いいたします。</p>
        </li>
        <li>
          <p class="question"><span class="fas fa-question question-icon"></span>注文をまとめることはできますか？</p>
          <p class="answer">
            発送日、配送先のお名前・ご住所、お支払方法が同一の発送前のご注文を、自動的におまとめして発送を行います。
            上記に当てはまる場合でも、状況により梱包をまとめることができない場合がございます。詳細は、ご注文のおまとめについてをご確認ください。
          </p>
        </li>
      </ul>
    </section>
</article>
