<article class="home-container">
  <section class="home-slider-phote">
    <div class="swiper-container swiper-container-horizontal" id="home-swiper-container" style="z-index: -1">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><%= image_tag "slider.png" %></div>
        <div class="swiper-slide"><%= image_tag "slider2.png" %></div>
        <div class="swiper-slide"><%= image_tag "slider3.png" %></div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>
  <script type="text/javascript">
    var swiper1 = new Swiper ('#home-swiper-container', {
      loop: true,
      pagination: {
        el: '#home-swiper-container .swiper-pagination',
      },
      navigation: {
        nextEl: '#home-swiper-container .swiper-button-next',
        prevEl: '#home-swiper-container .swiper-button-prev',
      },
      autoplay: {
        delay: 5000,
        disableOnInteraction: true
      },
    })
  </script>
  <section class="home-item-list">
    <div class="inner home-item-inner">
      <h1>おすすめシェア商品(家具)</h1>
      <section class="home-favorite-list">
        <ul class="home-favorite-items">
          <% @not_solde_furniture_item.first(10).each do|item| %>
            <li>
              <%= link_to item_path(item), class: "item" do%>
                <%= image_tag item.item_phote[0].to_s%>
                <p><%= item.title %></p>
                <p>月額￥<%= item.price %></p>
              <% end %>
            </li>
          <% end %>
        </ul>
        <div class="swiper-container" id="home-item-slide-container">
          <div class="swiper-wrapper">
            <% @not_solde_furniture_item.each do |item| %>
              <div class="swiper-slide" id="home-item-slide">
                <%= link_to item_path(item), class: "item" do %>
                  <%= image_tag item.item_phote[0].to_s %>
                  <p><%= item.title %></p>
                  <p>月額￥<%= item.price %></p>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-scrollbar"></div>
        </div>
        <script>
          var mySwiper2 = new Swiper ('#home-item-slide-container', {
            loop: true,
            slidesPerView: 5,
            spaceBetween: 20 ,
            initialSlide: 2,
            pagination: {
              el: '.#home-item-slide-container .swiper-pagination',
            },
            navigation: {
              nextEl: '#home-item-slide-container .swiper-button-next',
              prevEl: '#home-item-slide-container .swiper-button-prev',
            },
            scrollbar: {
              el: '#home-item-slide-container .swiper-scrollbar',
            }
          });
        </script>
      </section>
      <h1>新着シェア商品</h1>
      <section class="home-new-items">
        <ul class="home-favorite-items">
          <% @not_solde_new_item.first(10).each do|item| %>
            <%= link_to item_path(item), class: "item" do%>
              <li>
                <%= image_tag item.item_phote[0].to_s%>
                <p><%= item.title %></p>
                <p>月額￥<%= item.price %></p>
              </li>
            <% end %>
          <% end %>
        </ul>
        <div class="swiper-container" id="home-new-item-slide-container">
          <div class="swiper-wrapper">
            <% @not_solde_new_item.each do |item| %>
              <div class="swiper-slide" id="home-item-slide">
                <%= link_to item_path(item), class: "item" do %>
                  <%= image_tag item.item_phote[0].to_s %>
                  <p><%= item.title %></p>
                  <p>月額￥<%= item.price %></p>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-scrollbar"></div>
        </div>
        <script type="text/javascript">
          var mySwiper3 = new Swiper ('#home-new-item-slide-container', {
            loop: true,
            slidesPerView: 5,
            spaceBetween: 20 ,
            initialSlide: 2,
            pagination: {
              el: '#home-new-item-slide-container .swiper-pagination',
            },
            navigation: {
              nextEl: '#home-new-item-slide-container .swiper-button-next',
              prevEl: '#home-new-item-slide-container .swiper-button-prev',
            },
            scrollbar: {
              el: '#home-new-item-slide-container .swiper-scrollbar',
            }
          });
        </script>
      </section>
    </div>
  </section>
  <span class="post-item"><%= link_to "出品",new_item_path %></span>
</article>
