<article class="profile-container">
  <div class="profile-inner">
    <section class="profile-form">
      <% if @profile.change_status %>
        <h1 class="profile-heading">お届け先変更</h1>
      <% else %>
        <h1 class="profile-heading">お届け先登録</h1>
      <% end %>
      <%= form_for(@profile, html: {class: 'new_profile'}) do |f| %>

      <%= render "shared/error_messages", object: f.object%>

      <% unless @profile.change_status %>

      <p>名前</p>

      <%= f.label :first_name, "姓（必須）", class: "profile-name"%>
      <%= f.text_field :first_name %>

      <%= f.label :last_name, "名（必須）", class: "profile-name"%>
      <%= f.text_field :last_name %>
      
      <% end %>

      <p>住所</p>

      <%= f.label :postcode, "郵便番号（必須）", class: "postal-code" %>
      <%= f.text_field :postcode %>

      <%= f.label :prefecture_code, "都道府県（必須）", class: "prefectures" %>
      <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name  %>

      <%= f.label :address_city, "市区町村（必須）", class: "city" %>
      <%= f.text_field :address_city %>

      <%= f.label :address_street, "番地（必須）", class: "address" %>
      <%= f.text_field :address_street %>

      <%= f.label :address_building, "建物", class: "building" %>
      <%= f.text_field :address_building %>

      <% unless @profile.change_status %>
        <%= f.label :phone_number, "電話番号(ハイフンなし)（必須）", class: "phone_number" %>
        <%= f.text_field :phone_number %>
      <% end %>

      <% if @profile.change_status %>
        <%= f.submit "変更", id: "profile_btn" %>
      <% else %>
        <%= f.submit "作成", id: "profile_btn" %>
      <% end %>

      <% end %>
    </section>
  </div>
</article>
