<article class="profile-container">
  <div class="profile-inner">
    <section　class="profile-form">
      <h1 class="profile-heading">お届け先登録</h1>
      <%= form_for(@profile, url: profiles_path )do |f| %>
        <%= render "shared/error_messages", object: f.object%>
        <p>名前</p>

        <%= f.label :first_name, "姓（必須）", class: "profile-name"%>
        <%= f.text_field :first_name %>

        <%= f.label :last_name, "名（必須）", class: "profile-name"%>
        <%= f.text_field :last_name %>

        <p>住所</p>

        <%= f.label :postcode, "郵便番号（必須）", class: "postal-code" %>
        <%= f.text_field :postcode %>

        <%= f.label :prefecture_code, "都道府県（必須）", class: "prefectures" %>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>

        <%= f.label :address_city, "市区町村（必須）", class: "city" %>
        <%= f.text_field :address_city %>

        <%= f.label :address_street, "番地（必須）", class: "address" %>
        <%= f.text_field :address_street %>

        <%= f.label :building, "建物", class: "building" %>
        <%= f.text_field :address_building %>

        <%= f.label :phone_number, "電話番号(ハイフンなし)（必須）", class: "phone_number" %>
        <%= f.text_field :phone_number %>

        <%= f.submit "作成", id: "profile_btn" %>

      <% end %>
    </section>
  </div>
</article>
