<%provide(:title, "ログイン")%>
<article class="login-container">
  <h1>ログイン</h1>
  <div class="login-form">
    <%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: 'form-control' %>

    <span class="password-forget"><%= f.label :password, "パスワード" %>
    <%= link_to "(パスワードを忘れた方へ)", new_password_reset_path %></span>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.submit "ログイン", id: "login-btn" %>
    <% end %>

    <p class="login-signup-link">登録していない方は <%= link_to "新規登録", new_user_path %></p>
  </div>
</article>
