<% provide(:title, "パスワードリセット") %>
<article class="password-reset-container">
  <h1>パスワードリセット</h1>
  <div class="password-reset-form">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= hidden_field_tag :email, @user.email %>

    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "パスワード確認" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "変更", id: "reset-password-button" %>
    <% end %>
  </div>
</article>
