<% provide(:title, "パスワード再設定") %>
<article class="password-reset-container">
  <h1>パスワード再設定</h1>
  <div class="password-reset-form">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.submit "送信", id: "reset-password-button" %>
    <% end %>
  </div>
</article>
