<%= link_to "password reset", edit_password_reset_url(@user.reset_token,
                                                        email: @user.email) %>
                                                        
