<% provide(:title, "編集") %>
  <article class="edit-container">
    <section>
      <%= form_for(@user) do |f| %>
      <div id="background-phote-field" onClick="$('#background-phote-file').click()" >
        <% if @user.background_phote.file.nil?%>
        <%= image_tag "default_background_phote.jpg"%>
        <!-- <span class="fas fa-camera"></span> -->
        <% else %>
        <%= image_tag @user.background_phote.to_s%>
        <%end%>
      </div>
      <div id="user-phote-field" onClick="$('#user-phote-file').click()" >
        <% if @user.user_phote.file.nil?%>
          <%= image_tag "default_user_phote.png"%>
        <!-- <span class="fas fa-camera"></span> -->
        <% else %>
          <%= image_tag @user.user_phote.to_s%>
        <%end%>
      </div>
      <%= f.file_field :background_phote , style: "display:none;", id: "background-phote-file",accept: 'image/jpeg,image/gif,image/png'%>
      <%= f.file_field :user_phote ,style: "display:none;", id: "user-phote-file", accept: 'image/jpeg,image/gif,image/png'%>
      <div class="edit-form">
        <%= render 'shared/error_messages', object: f.object  %>
        <span class="edit-input">
          <%= f.label :user_name, "ニックネーム" %>
          <%= f.text_field :user_name, class: 'form-control' %>
        </span>
        <span class="edit-textarea">
          <%= f.label :user_name, "自己紹介" %>
          <%= f.text_area :user_content, class: 'form-textarea' %>
        </span>
        <span class="edit-input">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class: 'form-control' %>
        </span>
        <span class="edit-input">
          <%= f.label :password, "新しいパスワード" %>
          <%= f.password_field :password, class: 'form-control' %>
        </span>
        <span class="edit-input">
          <%= f.label :password_confirmation, "パスワード確認" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </span>
        <%= f.submit "変更", id: "edit-btn" %>
      </div>

      <div class="edit-link-list">
        <ul>
          <li><a href="#"><span class="fas fa-angle-left"></span>お届け先　住所変更</a></li>
          <li><a href="#"><span class="fas fa-angle-left"></span>支払方法確認</a></li>
          <li>
            <%= link_to user_path(@user), method: :delete , class: "user" do%>
            <span class="fas fa-angle-left"></span>
            アカウント削除
            <%end%>
          </li>
        </ul>
      </div>

      <% end %>
    </section>

  </article>
