<% provide(:title, "新規登録") %>
<article class="signup-container">
  <div class="inner signup-inner">
    <h1>新規登録</h1>
    <section class="signup-form">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :user_name, "ニックネーム", class: "signup-nickname"%>
        <%= f.text_field :user_name %>

        <%= f.label :email, "メールアドレス", class: "signup-email" %>
        <%= f.email_field :email %>

        <%= f.label :password, "パスワード", class: "signup-password" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "パスワード確認", class: "signup-password-confirmation" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "作成", id: "new_user_btn" %>

      <% end %>
    </section>
  </div>
</article>
