<%provide(:title, "ユーザー詳細")%>

<article class="show-container items-log-container">
  <%= render "shared/user_show" %>
  <div class="inner">
    <section class="items-log-list">
      <h1>注文ログ</h1>
      <h2>発送前</h2>
      <ul id="items-log-list">
        <% if @before_item_history.empty? %>
          <p id="orders-empty-commant">現在注文はありません</p>
        <% else %>
          <p id="order-info">商品が届いたらお届け完了ボタンを押してください</p>
          <% @before_item_history.each do |orders|%>
            <li>
              <%= image_tag orders.item.item_phote[0].to_s %>
              <div>
                <p><%= orders.item.title %></p>
                <p>月額￥<%= orders.item.price %></p>
                <%= link_to "お届け完了",order_path(orders.id), method: :put, class: "delivery-finish-btn" %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <h2>発送後(現在取引中)</h2>
      <ul id="items-log-list">
        <% if @after_item_history.empty? %>
          <p>注文はありません</p>
        <% else %>
          <% @after_item_history.each do |orders| %>
            <% if orders.cancel_status == false %>
              <li>
                <%= image_tag orders.item.item_phote[0].to_s %>
                <div>
                  <p><%= orders.item.title %></p>
                  <p>月額￥<%= orders.item.price %></p>
                  <%= link_to "shere終了",order_cancel_path(orders.id), method: :put, class: "delivery-finish-btn" %>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <h2>発送後(取引終了)</h2>
      <ul id="items-log-list">
        <% if @cancel_item.empty? %>
          <p>取引を終了した商品はありません</p>
        <% else %>
          <% @cancel_item.each do |orders| %>
            <li>
              <%= image_tag orders.item.item_phote[0].to_s %>
              <div>
                <p><%= orders.item.title %></p>
                <p>月額￥<%= orders.item.price %></p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>
  </div>
  <span class="post-item"><%= link_to "出品",new_item_path %></span>
</article>
