<section　class="user_acount">
  <p class="background-phote">
    <% if @user.background_phote.file.nil?%>
      <%= image_tag "default_background_phote.jpg"%>
    <!-- <span class="fas fa-camera"></span> -->
    <% else %>
      <%= image_tag @user.background_phote.to_s%>
    <%end%>
  </p>
  <p class="user_phote">
    <% if @user.user_phote.file.nil?%>
      <%= image_tag "default_user_phote.png"%>
    <!-- <span class="fas fa-camera"></span> -->
    <% else %>
      <%= image_tag @user.user_phote.to_s%>
    <%end%>
  </p>
  <p id="user_name"><%= @user.user_name %></p>
  <p id="user_content"><span><%= @user.user_content %></span></p>
  <ul>
    <span class="inner show-link-inner">
      <li><%= link_to "編集",edit_user_path(@user.id) %></li>
      <li><%= link_to "出品ログ", items_log_index_path %></li>
      <li><%= link_to "カート", carts_path %></li>
      <li><a href="#">売上</a></li>
      <li><%=link_to "ログアウト", logout_path, method: :delete %></li>
    </span>
  </ul>
</section>
