<%= provide(:title, "注文ログ") %>
<article class="show-container items-log-container">
  <%= render "shared/user_show" %>
  <div class="inner">
    <section class="items-log-list">
      <h1>注文ログ</h1>
      <h2>発送前</h2>
      <ul id="items-log-list">
        <% if @before_item_history.empty? %>
          <p>現在注文はありません</p>
        <% else %>
          <% @before_item_history.each do |items| %>
            <%= link_to item_path(items), class: "item" do%>
              <li>
                <%= image_tag items.item_phote[0].to_s %>
                <div>
                  <p><%= items.title %></p>
                  <p>月額￥<%= items.price %></p>
                  <%= button_to "お届け完了", order_path(@order) method: :put %>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <h2>発送後</h2>
      <ul id="items-log-list">
        <% if @after_item_history.empty? %>
          <p>注文はありません</p>
        <% else %>
          <% @after_item_history.each do |items| %>
            <%= link_to item_path(items), class: "item" do%>
              <li>
                <%= image_tag items.item_phote[0].to_s %>
                <div>
                  <p><%= items.title %></p>
                  <p>月額￥<%= items.price %></p>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </section>
  </div>
  <span class="post-item"><%= link_to "出品",new_item_path %></span>
</article>
