<article class="order-container">
  <div class="inner order-new-inner">
    <section class="order-details-area">
      <div class="address-confirmation">
        <h1>お届け先指定</h1>
        <h2>現在指定住所</h2>
        <p><%= @profile.prefecture_name_find %><%= @profile.address_city%><%= @profile.address_street%><%= @profile.address_building%></p>
        <%=link_to "お届け先住所変更", edit_profile_path(@profile), class: "profile-edit-btn" %>
      </div>
      <div class="delivery-confirmation">
        <h1>配送方法</h1>
        <%= form_for(@order) do |f| %>
          <%= f.radio_button :shippin_method, :指定なし, checked: true %>
          <%= f.label :shippin_charge, "指定なし(2~4日以内に発送)" %>

          <%= f.radio_button :shippin_method, :日時指定 %>
          <%= f.label :shippin_charge, "日時指定" %>

          <%= f.radio_button :shippin_method, :即日配達 %>
          <%= f.label :shippin_charge, "即日配達" %>

          <% if @one_order_item %>
            <%= hidden_field_tag :item_id, @one_order_item.id %>
          <% end %>
        <% end %>
      </div>
      <div class="pay-confirmation">
        <h1>お支払方法</h1>
        <p>クレジット払い</p>
      </div>
      <div class="item-confirmation">
        <h1>商品確認</h1>
        <% if @one_order_item %>
          <div class="order-item">
            <%= image_tag @one_order_item.item_phote[0].to_s %>
            <div>
              <p><%= @one_order_item.title %></p>
              <p>月額￥<%= @one_order_item.price %></p>
            </div>
          </div>
        <% else %>
          <% @carts_item.each do |carts|%>
            <div class="order-item">
              <%= image_tag carts.item.item_phote[0].to_s %>
              <div>
                <p><%= carts.item.title %></p>
                <p>月額￥<%= carts.item.price %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
    <section class="pay-area">
      <h1>会計</h1>
      <div>
        <p>商品合計</p>
        <p>月額<%= @total_price %>円</p>
      </div>
      <div>
        <p>手数料</p>
        <p>200円</p>
      </div>
      <p>最終金額</p>
      <p id="fanal-price"><%= @final_price %>円</p>
      <button type="submit" form="new_order">注文確認</button>
    </section>
  </div>
</article>
