<%provide(:title, "問い合わせ")%>
<article　class="contact-container">
  <div class="inner contact-inner">
    <div class="left-question-list">
      <ul>
        <li>
          <p>購入＆シェア</p>
          <a href="#">購入＆シェア方法について</a><br>
          <a href="#">ショッピングカートについて</a>
        </li>
        <li>
          <p>出品＆注文履歴</p>
          <a href="#">出品＆注文履歴について</a>
        </li>
        <li>
          <p>購入＆シェアのキャンセル</p>
          <a href="#">購入＆シェアのキャンセル方法について</a><br>
          <a href="#">現在シェア中商品のシェア中止方法について</a>
        </li>
        <li>
          <p>商品お届け</p>
          <a href="#">商品お届けについて</a>
        </li>
      </ul>
    </div>
    <div class="contact-form">
      <h1>お問い合わせ</h1>
      <%= form_for @contact do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name, "お名前" %>
        <%= f.text_field :name %>

        <%= f.label :email, 'メールアドレス' %>
        <%= f.text_field :email %>

        <%= f.label :title, '件名' %>
        <%= f.text_field :title %>

        <%= f.label :message, 'お問い合わせ内容', id: "contact-message" %>
        <%= f.text_area :message %>

         <%= f.submit '送信', id: "contact-btn" %>
      <% end %>
    </div>
  </div>
</article>
