<article class="cart-index">
  <div class="inner" id="cart-list-inner">
    <section class="cart-list">
      <h1><span class="fas fa-cart-plus cart-icon"></span>ショッピングカート</h1>
      <% if @carts_item[0].nil? %>
      <p>カートには何も入っていません</p>
      <% end %>
      <ul>
        <% @carts_item.each do |carts|%>
          <%= link_to item_path(carts.item), class: "item" do%>
            <li>
              <%= image_tag carts.item.item_phote[0].to_s %>
              <div>
                <p><%= carts.item.title %></p>
                <p>月額￥<%= carts.item.price %></p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>
    <% unless @carts_item[0].nil? %>
    <section class="rege-link">
      <%= link_to "レジに進む", new_order_path%>
      <p>合計月額</p>
      <p id="total-price">￥<%= @total_price %></p>
    </section>
    <% end %>
  </div>
  <div class="inner">
    <section class="cart-swiper">
      <h1>おすすめ商品</h1>
      <div class="swiper-container" id="cart-slide-container">
        <div class="swiper-wrapper">
          <% @item.each do |item| %>
            <div class="swiper-slide" id="cart-slide">
              <%= link_to item_path(item), class: "item" do%>
                <%= image_tag item.item_phote[0].to_s%>
                <p><%= item.title%></p>
                <p>月額￥<%= item.price%></p>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </section>
  </div>
</article>
<script type="text/javascript">
  var mySwiper = new Swiper ('#cart-slide-container', {
// ここからオプション
    loop: true,
    slidesPerView: 5,
    spaceBetween: 20 ,
    initialSlide: 2,
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    scrollbar: {
      el: '.swiper-scrollbar',
    }
  })
</script>
