お問い合わせ内容

------------------------------------------------

名前: <%= @contact.name %>

メールアドレス: <%= @contact.email %>

問い合わせ内容: <%= @contact.message %>

------------------------------------------------
