<h3>お問い合わせ内容</h3>

------------------------------------------------
<p>名前: <%= @contact.name %></p>

<p>メールアドレス: <%= @contact.email %></p>

<p>問い合わせ内容: <%= @contact.message %></p>

------------------------------------------------
