<%provide(:title, "出品物一覧")%>
<article class="item-index-container">
  <div class="inner item-index-inner">
    <h1><%= @items.first.category %></h1>
    <ul class="item-index-list">
      <% @items.each do|item| %>
        <% unless Order.find_by(item_id: item.id) %>
          <%= link_to item_path(item), class: "item" do%>
            <li>
              <%= image_tag item.item_phote[0].to_s%>
              <p><%= item.title %></p>
              <p>月額￥<%= item.price %></p>
            </li>
          <% end %>
        <% end%>
      <% end %>
    </ul>
    <%= paginate @items %>
  </div>
</article>
