<%# Link to the "Previous" page
  - available local variables
    url:           url to the previous page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="prev">
  <% unless current_page.first? %>
    <%= link_to( url, rel: 'prev', remote: remote ) do%>
      <i class="fas fa-angle-left"></i>
    <% end %>
  <% end %>
</span>
