<%provide(:title, "出品物一覧")%>
<article class="item-index-container">
  <div class="inner item-index-inner">
    <h1><%= @item_heading %></h1>
    <!-- <ul class="item-index-sort">
      <li><a href="#">人気順</a></li>
      <li><a href="#">価格低い順</a></li>
      <li><a href="#">価格高い順</a></li>
    </ul> -->
    <% if @items.empty? %>
      <p>検索結果に当てはまる商品はありませんでした。</p>
    <% else %>
      <ul class="item-index-list">
        <% @items.each do|item| %>
          <% unless Order.find_by(item_id: item.id) %>
            <%= link_to item_path(item), class: "item" do%>
              <li>
                <%= image_tag item.item_phote[0].to_s%>
                <p><%= item.title %></p>
                <p>月額￥<%= item.price %></p>
              </li>
            <% end %>
          <% end%>
        <% end %>
      </ul>
      <%= paginate @items%>
    <% end %>
  </div>
</article>
