<% provide(:title, "出品登録") %>
<article class="post-item-container">
  <h1>出品商品情報</h1>
  <div class="post-item-form">
    <%= form_for(@item) do |f| %>

    <%= f.label :item_phote,"画像(5枚まで)" %>
    <span id="item-phote-field" onClick="$('#item-phote-file').click()"></span>
    <%= f.file_field :item_phote ,multiple: true , id: "item-phote-file", style: "display:none;", accept: 'image/jpeg,image/gif,image/png'%>

    <%= f.label :item_phote,"画像(5枚まで)" %>
    <span id="item-phote-field2" onClick="$('#item-phote-file2').click()"></span>
    <%= f.file_field :item_phote ,multiple: true , id: "item-phote-file2", style: "display:none;", accept: 'image/jpeg,image/gif,image/png'%>

    <%= f.label :item_phote,"画像(5枚まで)" %>
    <span id="item-phote-field3" onClick="$('#item-phote-file3').click()"></span>
    <%= f.file_field :item_phote ,multiple: true , id: "item-phote-file3", style: "display:none;", accept: 'image/jpeg,image/gif,image/png'%>

    <%= f.label :item_phote,"画像(5枚まで)" %>
    <span id="item-phote-field4" onClick="$('#item-phote-file4').click()"></span>
    <%= f.file_field :item_phote ,multiple: true , id: "item-phote-file4", style: "display:none;", accept: 'image/jpeg,image/gif,image/png'%>

    <%= f.label :item_phote,"画像(5枚まで)" %>
    <span id="item-phote-field5" onClick="$('#item-phote-file5').click()"></span>
    <%= f.file_field :item_phote ,multiple: true , id: "item-phote-file5", style: "display:none;", accept: 'image/jpeg,image/gif,image/png'%>

    <%= f.label :title, "商品名" %>
    <%= f.text_field :title %>

    <%= f.label :item_content, "商品説明" %>
    <%= f.text_area :item_content %>

    <p>商品について</p>

    <ul class="post-item-selector">
      <li>
        <%= f.label :category, "カテゴリー", class: "signup-password" %>
        <%= f.select :category, Item.categories_i18n.invert, {}, placeholder: 0  %>
      </li>
      <li>
        <%= f.label :shipping_charge, "配送料負担", class: "signup-password" %>
        <%= f.select :shipping_charge, Item.shipping_charges_i18n.invert, {}, placeholder: 0 %>
      </li>
      <li>
        <%= f.label :item_status, "商品状態", class: "signup-password" %>
        <%= f.select :item_status, Item.item_statuses_i18n.invert, {}, placeholder: 0 %>
      </li>
    </ul>

    <%= f.label :days, "配送にかかる日数"%>
    <%= f.text_field :days %>

    <%= f.label :price, "価格"%>
    <%= f.text_field :price %>

    <%= f.submit "出品", id: "post_item_btn" %>

    <% end %>
  </div>
</article>
