<article class="item-show-container">
  <h1 class="show-item-title"><%= @item.title%></h1>
  <div class="inner">
    <section class="item-introduction">
      <div class="left-side">
        <ul class="show-item-phote">
          <li><%= image_tag @item.item_phote[0].to_s%></li>
          <% if @item.item_phote[1] %>
          <ul>
            <li><%= image_tag @item.item_phote[1].to_s%></li>
            <% if @item.item_phote[2] %>
            <li><%= image_tag @item.item_phote[2].to_s%></li>
            <% end %>
          </ul>
          <%end%>
          <% if @item.item_phote[3] %>
          <ul>
            <li><%= image_tag @item.item_phote[3].to_s%></li>
            <% if @item.item_phote[4] %>
            <li><%= image_tag @item.item_phote[4].to_s%></li>
            <% end %>
          </ul>
          <%end%>
        </ul>
        <ul class="left-side-link">
          <% if current_user == @item.user %>
          <li class="item-show-destroy"> <%= link_to "出品取り消し" , @item ,  method: :delete %></li>
          <% end %>
        </ul>
      </div>
      <div class="right-side">
        <p class="item-show-price">月額￥<%= @item.price %></p>
        <ul class="show-item-link">
            <li>
              <% if current_user.already_cart_exist?(@item)%>
                <%= button_to "カートに追加済み", cart_path(@item), method: :delete, class: "show-already-cart-link show-cart" %>
              <% else %>
                <%= button_to "カートに追加", carts_add_path(@item), class: "show-cart-link show-cart" %>
              <% end %>
            </li>
          <li>
            <%= link_to "今すぐシェア", new_order_path(@item), class: "shere-btn" %>
          </li>
        </ul>
        <h1 class="show-item-details-midasi">この商品について</h1>
        <ul class="show-item-details">
          <li>
            <p>出品者名</p>
            <p><%= @item.user.user_name %></p>
          </li>
          <li>
            <p>商品状態</p>
            <p><%= @item.item_status_i18n %></p>
          </li>
          <li>
            <p>配送料の負担</p>
            <p><%= @item.shipping_charge_i18n %></p>
          </li>
          <li>
            <p>配送日の目安</p>
            <p><%= @item.days %>日</p>
          </li>
          <li>
            <p>説明</p>
            <p><%= @item.item_content %></p>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <div class="inner">
    <section class="show-item-slide">
      <h1><%= @user.user_name%>様の出品物</h1>
      <div class="swiper-container" id="show-swipper-container">
      <!-- Sliderの内包コンテナ -->
        <div class="swiper-wrapper">
          <% @items.each do |item| %>
            <div class="swiper-slide" id="show-swiper-slide">
              <%= link_to item_path(item), class: "item" do%>
                <%= image_tag item.item_phote[0].to_s%>
                <p><%= item.title%></p>
                <p>月額￥<%= item.price%></p>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </section>
  </div>

</article>
<script type="text/javascript">
  var mySwiper = new Swiper ('.swiper-container', {
// ここからオプション
    loop: true,
    slidesPerView: 4,
    spaceBetween: 20 ,
    initialSlide: 2,
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    scrollbar: {
      el: '.swiper-scrollbar',
    }
  })
</script>
