/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
   margin: 0;
 }
 a{
  text-decoration: none;
 }
 li{
  list-style: none;
 }
header{
  width: 100%;
  height: 120px;
  background-color: rgba(0,0,0,0.8);
 }
.inner{
  width: 80%;
  margin: 0 auto;
}
.header-inner{
  height: 70px;
  display: flex;
  align-items: center;
}
.header-login-link a{
  margin-left: 70px;
}
.header-signup-link a{
  margin-left: 170px;
}
.header-login-link a, .header-signup-link a{
  padding: 6px 15px;
  font-size: 15px;
  background-color: #8EB8FF;
  color: white;
  border-radius: 5px;
}
.header-login-link a:hover, .header-signup-link a:hover{
  background-color: #75A9FF;
}
.header-show-link img{
  margin: 7px 0 0 230px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
header h1 a{
  color: white;
}
.serch-form{
  height: 70px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.serch-form input{
  height: 35px;
  width: 400px;
  font-size: 18px;
  padding-left: 5px;
  border: 1px solid #BBBBBB;
}
.serch-form button{
  height: 39px;
  width: 50px;
  border: 1px solid #BBBBBB;
  border-left: none;
}
.serch-form i{
  color: gray;
  opacity: 0.8;
}
.cart{
  color: white;
  font-size: 30px;
  margin-left: 70px;
}
.category-link{
  background-color: #EEEEEE;
}
header ul{
  width: 80%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
}
header li a{
  color: rgba(0,0,0,0.7);
  margin-right: 40px;
}
.category-serch{
  margin-right: 100px;
}
footer ul{
  height: 200px;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
}
footer li{
  border-right: 1px solid #CCCCCC;;
  margin: 20px 30px;
}
footer a{
  color: rgba(0,0,0,0.7);
  font-size: 18px;
  display: inline-block;
  margin: 30px 50px 0 0;
  padding: 0 5px;
}
footer li:nth-of-type(4){
  border-right: none;
}
footer a:hover, header ul li a:hover{
  color: black;
}
.post-item a{
  padding: 50px;
  border-radius: 50%;
  background-color: #8EB8FF;
  color: white;
  font-weight: bold;
  font-size: 30px;
  position:fixed;
  z-index:1;
  right: 0px;
  top: 450px;
}
.post-item a:hover{
  background-color: #75A9FF;
}
#error_explanation{
  margin-bottom: 20px;
  color: red;
}
#error_explanationul{
  color: red;
  /* margin: 0 0 30px 0; */
}
.alert-danger, .alert-warning{
  color: red;
  height: 50px;
  width: 100%;
  background-color: #FFD5EC;
  border-radius: 5px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 15px;
  text-align: center;
}
.alert-danger{
  margin-bottom: 10px;
}
#error_explanation ul{
  padding: 0;
  margin-left: 30px;
}
#error_explanation li{
  list-style: disc;
  font-size: 15px;
  margin-bottom: 10px;
}

.flash-container div{
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #8EB8FF;
  font-size: 20px;
  color: white;
  margin: 0 auto;
}
.alert-success, .alert-info{
  color: white;
  background-color: #8EB8FF;
  line-height: 40px;
  padding-left: 20px;
  font-size: 20px;
  text-align: center;
}
.category-list{
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: white;
  z-index: 1;
}
.category-list a{
  color: rgba(0, 0, 0, 0.7);
}
.hidden{
  display:none;
}
