// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart-index{
  margin-bottom: 200px;
}
#cart-list-inner{
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
}
.cart-list h1{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #BBBBBB;
  margin-bottom: 30px;
}
.cart-list span{
  margin-right: 10px;
}
.cart-list{
  width: 60%;
}
.cart-list li{
  width: 100%;
  display: flex;
  border-bottom: 1px solid #BBBBBB;
  margin-bottom: 30px;
}
.cart-list img{
  width: 30%;
  height: 150px;
  margin: 0 30px 30px 0;
}
.cart-list p{
  font-size: 18px;
}
#cart-slide img{
  height: 100px;
  width: 80%;
  border: 1px solid #CCCCCC;
}
#cart-slide p{
  margin: 5px 0 0 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
#cart-slide-container{
  border: 1px solid #CCCCCC;
  padding: 17px;
  margin-top: 50px;
}
.cart-swiper h1{
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
  margin: 60px 0 0 0;
}
.rege-link{
  width: 25%;
  margin: 60px 0 0 40px;
  height: 200px;
  padding: 50px 30px;
  border: 1px solid #BBBBBB;
}
.rege-link a{
  color: white;
  background-color: #8EB8FF;
  height: 60px;
  padding: 15px 85px;
  text-align: center;
  margin-left: 10px
}
.rege-link a:hover{
  background-color: #75A9FF;
}
.rege-link p{
  font-size: 18px;
  margin: 50px 0 20px 30px;
}
#total-price{
  font-weight: bold;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid #8EB8FF;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5px;
}
