// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul{
  margin: 0;
  padding: 0;
}
.post-item-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 80px 0;
}
.post-item-container p{
  font-size: 20px;
  margin: 0;
  display: inline;
}
#item-phote-field,#item-phote-field2,
#item-phote-field3,#item-phote-field4,
#item-phote-field5 {
  border: 1px solid #CCCCCC;
  width: 600px;
  height: 250px;
  margin-bottom: 35px;
}
#item-phote-field img, #item-phote-field2 img,
#item-phote-field3 img, #item-phote-field4 img,
#item-phote-field5 img{
  width: 600px;
  height: 250px;
}
#item-phote-field:hover,#item-phote-field2:hover,
#item-phote-field3:hover,#item-phote-field4:hover,
#item-phote-field5:hover {
  cursor: pointer;
}
.post-item-container h1{
  font-size: 35px;
  color: rgba(0,0,0,0.7);
}
.post-item-container textarea{
  width: 600px;
  height: 150px;
  margin-bottom: 35px;
  border: 1px solid #CCCCCC;
}
.post-item-form form{
  display: flex;
  flex-direction: column;
}
.post-item-form label{
  color: rgba(0,0,0,0.7);
  font-size: 20px;
}
.post-item-form input{
  border: none;
  border-bottom: 1px solid #CCCCCC;
  width: 600px;
  margin-bottom: 35px;
  height: 30px;
  font-size: 20px;
}
#post_item_btn{
  margin-top: 20px;
  background-color: #8EB8FF;
  color: white;
  height: 70px;
  width: 600px;
  font-size: 25px;
}
#post_item_btn:hover{
  cursor: pointer;
  background-color: #75A9FF;
}
.post-item-selector{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0　0 35px 0;
  padding: 0;
}
.post-item-selector li{
  display: flex;
  flex-direction: column;
  width: 60%;
}
.post-item-selector label{
  font-size: 18px;
}
.post-item-selector select{
  height: 40px;
  margin-bottom: 20px;
  font-size: 17px;
}
.item-show-container{
  margin: 20px 0 200px 0;
}
.show-item-title{
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid #CCCCCC;
  color: rgba(0,0,0,0.6);
}
.item-introduction{
  display: flex;
}
.left-side{
  width: 60%;
  margin-right: 30px;
}
.right-side{
  width: 40%;
}
.show-item-phote ul{
  display: flex;
  height: 200px;
  width: 100%;
  margin-bottom: 5px;
}
.show-item-phote ul li{
  width: 50%;
  height: 200px;
}
.show-item-phote ul img{
  width: 100%;
  height: 200px;
}
.show-item-phote ul li:nth-of-type(1),.show-item-phote ul li:nth-of-type(3){
  margin-right: 5px;
}
.show-item-phote img{
  height: 550px;
  width: 100%;
}
.item-show-price{
  font-size: 35px;
  color: rgba(0,0,0,0.7);
}
.show-cart{
  height: 55px;
  width: 400px;
  font-size: 22px;
  display: block;
  line-height: 55px;
  text-align: center;
  margin-bottom: 40px;
  border: none;
  cursor: pointer;
}
.show-shere-link, .show-cart-link {
  background-color: #8EB8FF;
  color: white;
}
.show-shere-link, .show-cart-link:hover{
  background-color: #75A9FF;
}
.show-already-cart-link{
  background-color: #AAAAAA;
}
.show-already-cart-link:hover{
  background-color: #CCCCCC;
}
.show-item-details-midasi{
  font-size: 25px;
  font-weight: normal;
  color: rgba(0,0,0,0.7);
}
.show-item-details{
  border: 1px solid #CCCCCC;
}
.show-item-details li{
  display: flex;
}
.show-item-details li p:nth-of-type(1){
  width: 40%;
  font-size: 18px;
  padding-left: 15px;
}
.show-item-details li p:nth-of-type(2){
  width: 60%;
  font-size: 18px;
}
#show-swiper-slide img{
  height: 160px;
  width: 100%;
  border: 1px solid #CCCCCC;
}
#show-swiper-slide p{
  margin: 5px 0 0 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
#show-swipper-container{
  border: 1px solid #CCCCCC;
  padding: 17px;
}
.show-item-slide{
  margin-top: 60px;
}
.show-item-slide h1{
  font-size: 23px;
  color: rgba(0,0,0,0.6);
}
.show-item-link a{
  color: white;
  background-color: #8EB8FF;
  // padding: 10px 100px;
  display: inline-block;
  height: 55px;
  width: 400px;
  font-size: 22px;
  line-height: 55px;
  text-align: center;
}
.show-item-link a:hover{
  background-color: #75A9FF;
}
.left-side-link{
  float: right;
}
.left-side-link li a{
  margin-top: 20px;
  font-size: 20px;
  color: rgba(0,0,0,0.5);
  display: inline-block;
  font-weight: bold;
}
.item-index-inner ul{
  display: flex;
  flex-wrap: wrap;
}
.item-index-list li{
  margin: 50px 5px;
}
.item-index-list li,.item-index-list li img {
  width: 195px;
  height: 150px;
}
.item-index-list li p{
  margin: 0;
}
.item-index-inner h1{
  color: rgba(0,0,0,0.7);
  font-size: 30px;
}
.item-index-category a{
  font-size: 20px;
  padding: 0 80px;
  color: rgba(0,0,0,0.6);

}
.item-index-category a:hover{
  border-bottom: 2px solid #8EB8FF;
}
.item-index-category li{
  border-right: 1px solid #CCCCCC;
}
.item-index-sort{
  width: 60%;
  justify-content: space-around;
  margin-top: 40px;
}
.item-index-container{
  margin: 50px 0 200px 0;
}
.pagination{
  display: flex;
  justify-content: center;
  height: 100px;
  margin-top: 80px;
}
.pagination span {
  border: 1px solid gray;
  border-right: none;
  width: 80px;
  height: 50px;
  &:last-child {
    border-right: 1px solid gray;
  }
}
.pagination a{
  color: rgba(0,0,0,0.7);
  display: block;
  text-align: center;
  line-height: 50px;
}
.pagination a:hover{
  color: black;
  cursor: pointer;
}
.current{
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}
