// Place all the styles related to the items_log controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.items-log-list{
  width: 100%;
  margin: 40px 0 140px 80px;
}
.items-log-list h1{
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 50px 0 30px 0;
}
#items-log-list{
  background-color: white;
}
#items-log-list li{
  width: 100%;
  display: flex;
  border-bottom: 1px solid #BBBBBB;
  margin-bottom: 50px;
}
#items-log-list img{
  width: 20%;
  height: 150px;
  margin: 0 30px 50px 0;
}
#items-log-list p{
  font-size: 18px;
  margin-top: 20px;
}
#item-log-category{
  display: flex;
  background-color: white;
  height: 40px;
  border-bottom: none;
  margin-bottom: 60px;
}
#item-log-category a{
  font-size: 20px;
  padding: 0 80px 20px 80px;;
  color: rgba(0,0,0,0.6);
}
#item-log-category li:hover{
  border-bottom: 2px solid #8EB8FF;
}
#item-log-category li{
  border-right: 1px solid #CCCCCC;
  height: 40px;
}
#after-item-commant{
  margin-bottom: 80px;
}
