// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-container{
  margin: 30px 0 100px 0;
}
.order-new-inner{
  display: flex;
}
.order-details-area{
  width: 60%;
}
.order-new-inner h1{
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
}
.order-new-inner h2{
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  font-weight: normal;
}
.order-new-inner p{
  font-size: 18px;
}
.order-new-inner a, .delivery-finish-btn{
  background-color: #8EB8FF;
  color: white;
  padding: 5px 20px;
  font-size: 18px;
  display: inline-block;
  margin-top: 10px;
}
.order-new-inner a:hover, .pay-area input:hover,.delivery-finish-btn:hover{
  background-color: #75A9FF;
  cursor: pointer;
}
.address-confirmation, .pay-confirmation, .delivery-confirmation{
  padding-bottom: 30px;
}
.pay-area{
  width: 30%;
  border: 1px solid #CCCCCC;
  height: 400px;
  padding: 0 30px 50px 30px;
  margin-top: 30px;
}
.pay-area div{
  width: 100%;
  display: flex;
}
.pay-area p{
  width: 50%;
}
.pay-area button{
  background-color: #8EB8FF;
  color: white;
  width: 300px;
  height: 50px;
  font-size: 18px;
  border: none;
  margin-top: 30px;
}
.pay-area button:hover{
  background-color: #75A9FF;
  cursor: pointer;
}
#fanal-price{
  margin: 0 auto;
  font-weight: bold;
  font-size: 25px;
}
.order-item{
  display: flex;
  border-bottom: 1px solid #CCCCCC;
  height: 150px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.order-item img{
  width: 200px;
  height: 150px;
  margin-right: 20px;
}
.delivery-confirmation label{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}
.items-log-list h2{
  color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
}
#orders-empty-commant{
  margin-bottom: 100px;
}
#order-info{
  margin-bottom: 40px;
}
