// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.password-reset-container{
  margin: 60px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-reset-container h1{
  font-size: 30px;
  color: rgba(0,0,0,0.6);
  margin-bottom: 45px;
}
.password-reset-form form, {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.password-reset-form label{
  color: rgba(0,0,0,0.6);
  font-size: 20px;
}
.password-reset-form input{
  border: none;
  border-bottom: 1px solid #CCCCCC;
  width: 500px;
  margin-bottom: 35px;
  height: 30px;
  font-size: 15px;
}
#reset-password-button{
  border: none;
  width: 500px;
  margin-top: 20px;
  background-color: #8EB8FF;
  color: white;
  height: 55px;
  font-size: 19px;
}
#reset-password-button:hover{
  cursor: pointer;
  background-color: #75A9FF;
}
