// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-inner{
  display: flex;
  justify-content: center;
  margin: 10px 0 100px 0;
}
.new_profile{
  display: flex;
  flex-direction: column;
}
.new_profile label{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}
.new_profile p{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 40px 0;
}
.new_profile input{
  border: none;
  border-bottom: 1px solid gray;
  width: 500px;
  font-size: 18px;
  margin-bottom: 40px;
}
.profile-heading{
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
  margin: 50px 0 40px 0;
}
#profile_btn{
  margin-top: 20px;
  background-color: #8EB8FF;
  color: white;
  height: 60px;
  font-size: 22px;
  border: none;
}
#profile_btn:hover{
  cursor: pointer;
  background-color: #75A9FF;
}
#profile_prefecture_code{
  height: 30px;
  margin: 10px 0 40px 0;
  font-size: 18px;
}
