// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 550px;
}
.login-container h1{
  font-size: 30px;
  color: rgba(0,0,0,0.5);
  margin: 40px 0;
}
.login-form form{
  display: flex;
  flex-direction: column;
}
.login-form label{
  color: rgba(0,0,0,0.6);
  font-size: 18px;
}
.login-form input{
  border: none;
  border-bottom: 1px solid #CCCCCC;
  width: 450px;
  margin-bottom: 35px;
  height: 30px;
  font-size: 15px;
}
#login-btn{
  margin-top: 20px;
  background-color: #8EB8FF;
  color: white;
  height: 48px;
  font-size: 18px;
}

#login-btn:hover{
  cursor: pointer;
  background-color: #75A9FF;
}
.login-signup-link{
  color: rgba(0,0,0,0.6);
}
.login-signup-link a, .password-forget a{
  color: #136FFF;
}
.login-signup-link a:hover, .password-forget a:hover{
  color: blue;
}
