// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-item-list{
  position: relative;
  margin-bottom: 200px;
}
#home-swiper-container{
  width: 100%;
  height: 400px;
}
#home-swiper-container img{
  width: 100%;
  height: 400px;
}
.swiper-button-prev,.swiper-button-next{
  color: #BBBBBB;
  font-size: 18px;
}
.home-item-list h1{
  color: rgba(0,0,0,0.8);
  font-size: 25px;
  margin-top: 60px;
  margin-bottom: 0;
}
.contact-inner{
  display: flex;
  height: 700px;
  padding: 30px 0 100px 0;
}
.contact-inner h1, .contact-form label{
  color: rgba(0,0,0,0.7);
}
.contact-form{
  width: 70%;
}
.contact-form  form{
  display: flex;
  flex-direction: column;
}
.contact-form input{
  border: none;
  border-bottom: 1px solid gray;
  width: 300px;
  margin-bottom: 25px;
  height: 30px;
  font-size: 17px;
}
.contact-form textarea{
  width: 500px;
  height: 150px;
  font-size: 17px;
}
.contact-form label{
  font-size: 16px;
  margin: 0;
}
#contact-message{
  margin-bottom: 10px;
}
#contact-btn{
  width: 500px;
  height: 54px;
  background-color: #8EB8FF;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  border: none;
}
#contact-btn:hover{
  cursor: pointer;
  background-color: #75A9FF;
}
.left-question-list{
  margin: 20px 100px 0 0;
  width: 30%;
}
.left-question-list p{
  color: rgba(0,0,0,0.8);
  font-size: 17px;
  margin-bottom: 15px;
  border-bottom: 1px solid gray;
}
.left-question-list a{
  color: rgba(0,0,0,0.6);
  display: inline-block;
  margin: 10px 0;
  border-bottom: 2px white solid;
}
.left-question-list a:hover{
  border-color: #75A9FF;
  // box-sizing: border-box;
}
.help-inner{
  height: 800px;
  display: flex;
}
.right-question-list{
  width: 900px;
  margin-right: 200px;
}
.right-question-list h1{
  color: rgba(0,0,0,0.7);
  font-size: 25px;
}
.question{
  color: rgba(0,0,0,0.8);
  font-size: 20px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  position: relative;
}
.question:hover{
  cursor: pointer;
}
.answer{
  display:none;
  margin-bottom: 20px;
}
.right-question-list ul{
  padding: 0;
}
.question-icon{
  color: #75A9FF;
  font-size: 17px;
  margin-right: 10px;
}

.question:after {
  content: "";
  position: absolute;
  left: 500px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 10px;
  right: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.question.ac:after {
  content: "";
  position: absolute;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-right: 0;
  border-bottom: 0;
  width: 10px;
  right: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.home-item-inner ul{
  display: flex;
  flex-wrap: wrap;
}
.home-favorite-items li{
  margin: 50px 5px;
}
.home-favorite-items li,.home-favorite-items li img {
  width: 195px;
  height: 150px;
}
.home-favorite-items li p{
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}
#home-item-slide img{
  height: 100px;
  width: 80%;
  border: 1px solid #CCCCCC;
}
#home-item-slide p{
  margin: 5px 0 0 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
#home-item-slide-container, #home-new-item-slide-container{
  border: 1px solid #CCCCCC;
  padding: 17px;
  margin-top: 70px;
}
