.signup-container{
  margin: 20px 0 100px 0;
}
.signup-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-inner h1{
  font-size: 30px;
  color: rgba(0,0,0,0.7);
}
#new_user{
  display: flex;
  flex-direction: column;
}
.signup-form label{
  color: rgba(0,0,0,0.7);
  font-size: 18px;
}
.signup-form input{
  border: none;
  border-bottom: 1px solid #CCCCCC;
  width: 400px;
  margin-bottom: 35px;
  height: 30px;
  font-size: 15px;
}
.signup-form {
  color: rgba(0,0,0,0.6);
}
#new_user_btn{
  margin-top: 20px;
  background-color: #8EB8FF;
  color: white;
  height: 55px;
  font-size: 20px;
}
#new_user_btn:hover{
  cursor: pointer;
  background-color: #75A9FF;
}
.show-container p{
  margin: 0;
}
.background-phote{
  width: 100%;
  height: 150px;
}
.background-phote img{
  width: 100%;
  height: 250px;
}
.user_phote{
  text-align: center;
}
.user_phote img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid gray;
  margin: 0 auto;
}
#user_name{
  color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

#user_content{
  color: rgba(0, 0, 0, 0.7);
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
.show-container ul{
  margin-top: 40px;
  padding: 0;
  width: 100%;
  // height: 60px;
  background-color: #EEEEEE;
}
.show-link-inner{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.show-link-inner a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  padding: 0 5px;
  border-bottom: 2px solid #8EB8FF;
  line-height: 60px;
}
.show-link-inner a:hover{
  color: black;
}
.edit-input label{
  color: rgba(0,0,0,0.7);
  font-size: 18px;
}
.edit-input{
  width: 500px;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
}
.edit-input input{
  border: none;
  height: 30px;
  font-size: 18px;
  color: rgba(0,0,0,0.6);
  padding-left: 40px;
  width: 300px;
}
.edit-textarea{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 30px;
}
.edit-textarea label{
  color: rgba(0,0,0,0.7);
  font-size: 18px;
  margin-bottom: 10px;
}
.form-textarea{
  height: 100px;
  font-size: 17px;
  color: rgba(0,0,0,0.6);
}
.edit-form{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
.edit_user{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
#edit-btn{
  border: none;
  width: 500px;
  margin-top: 20px;
  background-color: #8EB8FF;
  color: white;
  height: 55px;
  font-size: 19px;
}
#edit-btn:hover{
  cursor: pointer;
  background-color: #75A9FF;
}
#background-phote-field{
  position: relative;
  width: 100%;
}
#background-phote-field span{
  font-size: 50px;
  border: 2px solid #8EB8FF;
  position: absolute;
  top: 50px;
  left: 630px;
  padding: 5px;
  background-color: #8EB8FF;
  border-radius: 50%;
}
#background-phote-field span:hover,#user-phote-field span:hover {
  cursor: pointer;
  }
#background-phote-field img{
  width: 100%;
  height: 250px;
}
#background-phote-field img:hover{
  cursor: pointer;
  opacity: 0.8;
}
#user-phote-field img:hover{
  cursor: pointer;
  opacity: 0.8;
}
#user-phote-field img{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid gray;
  position: absolute;
  top: 300px;
  left: 600px;
}
#user-phote-field span{
  font-size: 50px;
  border: 2px solid #8EB8FF;
  position: absolute;
  top: 350px;
  left: 645px;
  padding: 5px;
  background-color: #8EB8FF;
  border-radius: 50%;
}
.edit-link-list{
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.edit-link-list ul li a{
  display: inline-block;
  font-size: 20px;
  color: rgba(0,0,0,0.7);
  margin-bottom: 20px;
}
.edit-link-list ul li span{
  margin-right: 12px;
  font-size: 23px;
  color: #CCCCCC;
}
.edit-link-list a:hover{
  color: black;
}
