<%= provide(:title, "出品ログ") %>
<article class="show-container items-log-container">
  <%= render "shared/user_show" %>
  <div class="inner">
    <section class="items-log-list">
      <h1>出品ログ</h1>
      <ul id="items-log-list">
        <h2>販売済み商品(取引中)</h2>
        <% if @sipping_item.empty? %>
          <p id="after-item-commant">まだ売れた商品はございません</p>
        <% else %>
          <% @sipping_item.each do |item| %>
            <%= link_to item_path(item.id), class: "item" do%>
              <li>
                <%= image_tag item.item_phote[0].to_s %>
                <div>
                  <p><%= item.title %></p>
                  <p>月額￥<%= item.price %></p>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <ul id="items-log-list">
        <h2>販売済み商品(取引終了)</h2>
        <% if @soled_item.empty? %>
          <p id="after-item-commant">まだ売れた商品はございません</p>
        <% else %>
          <% @soled_item.each do |item| %>
            <%= link_to item_path(item.id), class: "item" do%>
              <li>
                <%= image_tag item.item_phote[0].to_s %>
                <div>
                  <p><%= item.title %></p>
                  <p>月額￥<%= item.price %></p>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <ul id="items-log-list">
        <h2>売れていない商品</h2>
        <% if @not_soled_item.empty? %>
          <p>まだ出品されたことがありません</p>
        <% else %>
          <% @not_soled_item.each do |item| %>
            <%= link_to item_path(item.id), class: "item" do%>
              <li>
                <%= image_tag item.item_phote[0].to_s %>
                <div>
                  <p><%= item.title %></p>
                  <p>月額￥<%= item.price %></p>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <%= paginate @items%>
    </section>
  </div>
  <span class="post-item"><%= link_to "出品",new_item_path %></span>
</article>
