<footer>
  <ul>
    <li>
      <a href="/">nicoichi</a>
    </li>
    <li>
      <a href="/help">ヘルプ＆ガイド</a>
    </li>
    <li>
      <a href="#">注意事項</a>
    </li>
    <li>
    <%= link_to "お問い合わせ",  new_contact_path %>
    </li>
  </ul>
</footer>
