<header>
  <div class="inner header-inner">
    <h1><%= link_to "nicoichi", root_path%></h1>
    <%= form_tag(items_path, method: "get", class: "serch-form")do %>
      <%= text_field_tag :search, "", placeholder: '何かお探しですか' %>
      <%= button_tag :type => "submit", :title => nil do %>
        <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
    <% end %>
    <% if logged_in? %>
      <p class="header-show-link">
        <%= link_to current_user, class: "user" do%>
          <% image_tag current_user.user_phote.to_s  %>
        <%end%>
      </p>
      <%= link_to carts_path do %>
        <span class="fas fa-cart-plus cart"></span>
      <% end %>
    <% else %>
      <p class="header-signup-link"><%= link_to "新規登録", new_user_path %></p>
      <p class="header-login-link"><%= link_to "ログイン", login_path %></p>
    <% end %>
  </div>
  <div class="category-link">
    <ul>
        <li>
          <a class="category-serch">カテゴリーから探す</a>
          <ul class="category-list hidden">
            <li><%= link_to "インテリア/小物", category_path(5) %></li>
            <li><%= link_to "家電", category_path(6) %></li>
            <li><%= link_to "ゲーム/おもちゃ", category_path(7) %></li>
            <li><%= link_to "コスメ/美容", category_path(8) %></li>
            <li><%= link_to "スポーツ", category_path(9) %></li>
            <li><%= link_to "ハンドメイド", category_path(10) %></li>
          </ul>
        </li>
        <li>
          <%=link_to "すべて", items_path %>
        </li>
        <li>
          <%= link_to "家具", category_path(0) %>
        </li>
        <li>
          <%= link_to "ファッション", category_path(3) %>
        </li>
        <li>
          <%= link_to "アクセサリー", category_path(2) %>
        </li>
        <li>
          <%= link_to "本", category_path(4) %>
        </li>
    </ul>
  </div>
</header>
