<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script type="text/javascript" src="jquery.jpostal.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= render'layouts/footer' %>
    <script>

  $(function(){
  	$('.question').click(function(){
  		$(this).next('.answer').slideToggle();
      $(this).toggleClass("ac");
  	});

    $(function(){
      $('.category-serch').hover(function(){
          $(this).next().toggleClass("hidden");
      })
    })

    // $(function(){
    //   $("#profile_postcode").jpostal({
    //     postcode : [ "#profile_postcode" ],
    //     address  : {
    //                   "#profile_prefecture_code" : "%3",
    //                   "#profile_address_city"            : "%4",
    //                   "#profile_address_street"          : "%5%6%7"
    //                 }
    //   })
    // })

    $(function(){
      $fileField = $('#background-phote-file')

      // 選択された画像を取得し表示
      $($fileField).on('change', $fileField, function(e) {
        file = e.target.files[0]
        reader = new FileReader(),
        $preview = $("#background-phote-field");

        reader.onload = (function(file) {
          return function(e) {
            $preview.empty();
            $preview.append($('<img>').attr({
              src: e.target.result,
              width: "100%",
              class: "preview",
              title: file.name
            }));
          };
        })(file);
        reader.readAsDataURL(file);
      });
    });

    $(function(){
      $fileField = $('#user-phote-file')

      // 選択された画像を取得し表示
      $($fileField).on('change', $fileField, function(e) {
        file = e.target.files[0]
        reader = new FileReader(),
        $preview = $("#user-phote-field");

        reader.onload = (function(file) {
          return function(e) {
            $preview.empty();
            $preview.append($('<img>').attr({
              src: e.target.result,
              width: "100%",
              class: "preview",
              title: file.name
            }));
          };
        })(file);
        reader.readAsDataURL(file);
      });
    });

    $(function(){
      $fileField = $('#item-phote-file')

      // 選択された画像を取得し表示
      $($fileField).on('change', $fileField, function(e) {
        file = e.target.files[0]
        reader = new FileReader(),
        $preview = $("#item-phote-field");

        reader.onload = (function(file) {
          return function(e) {
            $preview.empty();
            $preview.append($('<img>').attr({
              src: e.target.result,
              width: "100%",
              class: "preview",
              title: file.name
            }));
          };
        })(file);
        reader.readAsDataURL(file);
      });
    });

    $(function(){
      $fileField = $('#item-phote-file2')

      // 選択された画像を取得し表示
      $($fileField).on('change', $fileField, function(e) {
        file = e.target.files[0]
        reader = new FileReader(),
        $preview = $("#item-phote-field2");

        reader.onload = (function(file) {
          return function(e) {
            $preview.empty();
            $preview.append($('<img>').attr({
              src: e.target.result,
              width: "100%",
              class: "preview",
              title: file.name
            }));
          };
        })(file);
        reader.readAsDataURL(file);
      });
    });
    $(function(){
      $fileField = $('#item-phote-file3')

      // 選択された画像を取得し表示
      $($fileField).on('change', $fileField, function(e) {
        file = e.target.files[0]
        reader = new FileReader(),
        $preview = $("#item-phote-field3");

        reader.onload = (function(file) {
          return function(e) {
            $preview.empty();
            $preview.append($('<img>').attr({
              src: e.target.result,
              width: "100%",
              class: "preview",
              title: file.name
            }));
          };
        })(file);
        reader.readAsDataURL(file);
      });
    });
    $(function(){
      $fileField = $('#item-phote-file4')

      // 選択された画像を取得し表示
      $($fileField).on('change', $fileField, function(e) {
        file = e.target.files[0]
        reader = new FileReader(),
        $preview = $("#item-phote-field4");

        reader.onload = (function(file) {
          return function(e) {
            $preview.empty();
            $preview.append($('<img>').attr({
              src: e.target.result,
              width: "100%",
              class: "preview",
              title: file.name
            }));
          };
        })(file);
        reader.readAsDataURL(file);
      });
    });
    $(function(){
      $fileField = $('#item-phote-file5')

      // 選択された画像を取得し表示
      $($fileField).on('change', $fileField, function(e) {
        file = e.target.files[0]
        reader = new FileReader(),
        $preview = $("#item-phote-field5");

        reader.onload = (function(file) {
          return function(e) {
            $preview.empty();
            $preview.append($('<img>').attr({
              src: e.target.result,
              width: "100%",
              class: "preview",
              title: file.name
            }));
          };
        })(file);
        reader.readAsDataURL(file);
      });
    });


  });
    </script>
  </body>
</html>
